@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=IBM+Plex+Sans&family=Poppins&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


/* hamburger-menu */

/* menu-hover */
.hover-effect::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    top: 100%;
    left: 0;
    background: #00d4ff;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .hover-effect:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

.DropDown{
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    max-width: 1200px;
    text-align: left;
    z-index: 900;
    display: inline-block;
    position: relative;
}


.DropDowntoggle{
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 0;
    display: flex;
    user-select: none;
    cursor: pointer;
}

.navbartoggle{
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0;
    background: transparent;
    position: absolute;
    display: none;
}

.navlinks{
    margin-left: 0;
    margin-right: 0;
    padding: 1px 28px 8px 25px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    
}

.DropDowntoggle:hover + .navbartoggle {
    display: block;
    
}
.navbartoggle:hover{
    display: block;
   
}

.font-use{
    font-family: 'Barlow', sans-serif;
    
}
.font-use-one{
    font-family: 'IBM Plex Sans', sans-serif;
}
.font-quote{
    font-family: 'Roboto Condensed', sans-serif;
}
.font-openings{
    font-family: 'Lato', sans-serif;
}

.rotation-effect
{
    animation: rotation 30s infinite linear;
}

@keyframes rotation{
 from{
    transform: rotate(0deg);
 }
 to{
    transform: rotate(359deg);
 }
}

/* unseen-division */
.unseen-container{
    padding: 240px 16px;
}
.second-content{
    width: 1200px;
    font-family: 'Barlow',sans-serif;

}
.secondDivParaContent{
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgba(255, 255, 255, .85);
    margin-top: 0;
    
}
.secondDivContent{
    width:700px;
    margin-left: 114px;
}
.container-content{
    width: 700px;
    margin-bottom: 30px;
    padding-top: 5px;
}

/* third-division */
.third-div-img{
    padding: 80px 100px 116px;
    
}

.third-div-content{
    font-family: 'IBM Plex Sans', sans-serif;
}

/* fourth-division */
.fourth-div-content{
    font-family: 'Barlow','poppins', sans-serif;
}

.hyperspectral-text{
    background-color: #fff;
    background-image: linear-gradient(90deg, rgba(255,139,245,1) 0%, rgba(215,139,255,1) 8%, rgba(105,97,255,1) 16%, rgba(32,149,219,1) 24%, rgba(26,159,198,1) 32%, rgba(3,212,171,1) 40%, rgba(55,215,87,1) 48%, rgba(53,238,1,1) 56%, rgba(255,252,0,1) 64%, rgba(255,169,8,1) 72%, rgba(249,150,73,1) 80%, rgba(255,83,32,1) 88%, rgba(255,68,39,1) 96%, rgba(255,48,48,1) 100%);
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    animation:0.3s ease-in;
}

.hyper-content{
    font-family: 'IBM Plex Sans', sans-serif;
}

.icons-grid
{
    grid-column-gap: 120px;
    grid-row-gap:16px;
    grid-template-rows:auto;
    grid-template-columns: 95px 146px 78px 162px;
}

.logo-content-name{
    color: rgba(255, 255, 255, .95);
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Barlow','poppins', sans-serif;
    line-height: 21px;
}

/* fifth-division */
.fifth-div-sec{
    letter-spacing: 2px;
    font-family: 'Barlow','poppins', sans-serif;
    line-height: 60px;
    font-size: 50px;
}

.fifth-div-sec-title{
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 2px;
    font-family: 'Barlow','poppins', sans-serif;
}
.status-container{
    width: 1000px;
    grid-column-gap:16px;
    grid-row-gap:0px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
}
.separator-effect{
  width: 80px;
  height:2px;
  background-color: #00d4ff;
  background-image: linear-gradient(to right, #00d4ff, #000);
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;

}

.side-line-effects{
    width:8px;
    background-image: linear-gradient(to top, #000, #00d4ff);
    margin-right: 40px;
}
.vision-img-container{
    height: 100%;
    background-image: linear-gradient(#000, rgba(255, 255, 255, 0) 25%);
    position: relative;
}

.news-recents{
    background-image: linear-gradient(rgba(0, 0, 0, .21), rgba(0, 0, 0, .21));
    margin-top: 0;
    padding-top: 240px;
    display: block;
    margin-bottom: 0;
    padding-bottom: 233px;
    overflow: hidden;
}

/* solutionsComponent */
.solutions-home-container{
z-index: 999;
margin-top: 120px;
color: rgba(0, 0, 0, .9);
background-color: rgba(0, 0, 0, .8);
margin-bottom: 60px;
padding-top: 30px;
padding-bottom: 30px;
top:0%;
bottom: auto;
left: 0%;
right:0%;
-webkit-backdrop-filter: blur(8px);
backdrop-filter: blur(8px);
transition: all 0.4s ease-in;
}

.bullet-line-css{
    width: 22px;
    height: 2px;
    min-width: 24px;
    background-image: linear-gradient(270deg, #000, #00d4ff);
    margin-top: 14px;
    margin-right: 10px;
}

.partners-home{

    background-position: 0 0, 0 0;
    background-repeat: repeat, no-repeat;
    background-size: auto, 100%;
    height:100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.card-partners{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0) ;
}
.image_wrapper {
    margin: 0px 30px;
  }
  
  .image_wrapper img {
    width: 80%;
  }
  .partners-card{
    width: 1200px;
    max-width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: stretch;
    display: grid;
  }
  .partner-now{
    max-width: 1200px;
    background-position: 50% 100%;
    background-size: auto;
    justify-content: center;
    padding: 80px 100px 116px;
    display: flex;
  }
  .Contact-page{
    height: 100vh;
    background-position: 114% 208%;
    background-size: 81%;
    justify-content: flex-start;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .contact-link{
    width: 100%;
    max-width: 1020px;
    grid-column-gap: 100px;
    grid-row-gap: 80px;
    grid-template-rows: auto auto;
    grid-template-columns: 460px 460px;
    grid-auto-columns: 1fr;
    margin-top: 117px;
    margin-left: 100px;
    display: grid;
  }
  .about-home{
    height: 100vh;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 55%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  .passion{
    background-position: 50% 101%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0;
    padding-top: 240px;
    padding-bottom: 370px;
  }

  .card-layout-container{
    width: 1000px;
    max-width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 160px;
    margin-left: 100px;
    display: grid;
  }
  /* .card-gradient{
    background-image: linear-gradient(to top, rgba(0, 0, 0, .47), rgba(255, 255, 255, 0) 31%);
  } */
  .card-img{
    width: 262px;
    height: 200px;
    min-height: 200px;
    object-fit: cover;
    object-position: 50% 15%;
    position: relative;
    max-width:100%;
    display: inline-block;
    vertical-align: middle; 
    filter: gray; 
      -webkit-filter: grayscale(1);
      -webkit-transition: all .6s ease-in;  
  }


    .card-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    }

    .linkedin-separator{
    width: 100%;
    height: 2px;
    background-image: linear-gradient(270deg, #000, #00d4ff);
    margin-top: 16px;
    margin-bottom: 20px;
    }
.logos-container{
    width: auto;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    display: flex;
    max-width: 85%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: start;
}
.logo-section{
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-right: 0;
    padding: 0;
    transition: all .2s ease-in-out;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
}

.blog-img{
    width: 1000px;
    height: 480px;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.blog-content{
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    flex-direction: column;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    margin-top: 32px;
    display: grid;
}

.carrers-home{
    background-position: 0 0;
    background-repeat:no-repeat;
    background-size:100%;
    height:99vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.openings-position{
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.9em;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.openings-position:hover{
    color: #00d4ff;
    text-decoration: underline;
}

.carrer-grid{
    grid-column-gap: 90px;
    grid-row-gap: 140px;
    margin-top: 120px;
    margin-bottom: 180px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

@media screen and (max-width: 639px) {
    .Homepage{
        width:max-content;
    }
    .nav-md{
        justify-content: flex-start;
    }
    /* .unseen-container{
        padding-top: 100px;
        padding-left: 5px;
        width: 50%;
    }
    .secondDivContent{
        margin-left: 5px;
        width: 50%;
    } */
}  
